.form-group {
  padding: 25px;
}

.form-group input {
  margin-bottom: 1rem;
}

.form-group label {
  margin: 10px 0px;
  text-transform: capitalize;
}

.action-button {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

@media (max-width:768px) {
    .action-button  button{
        margin-left: 5px;
    }
}